body {
    background-color: #263238;
}

h1{
    font-size: 30px;
    color:yellowgreen;
}

#title_1{
    width: 25%;
    margin: 20px auto;
}

.main__container{
    display: flex;
    margin: 0  0 0 20px;
    justify-content: space-between;
}

#iname, #ivalor, #isearch{
    padding: 5px;
    margin: 4px;
    width: 235px;
    border-radius: 5px;
}


