<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Programa teste</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
    <h1 id="title_1">PROGRAMA TESTE</h1>
    </header>

    <main>
    <div class="main__container">
        <form action="/adicionar" method="post">
            <input type="text" name="item" id="iname" placeholder="Nome do item a ser adicionado" required>
            <label for="item"></label>

            <input type="number" step="0.01" name="valor" id="ivalor" placeholder="$ do item a ser adicionado" required>
            <label for="valor"></label>

            <input type="submit" value="Adicionar">
        </form>
        <div>
            <input type="text" name="search" id="isearch" placeholder="Pesquisar">
        </div>
        <div id="results"></div>
    </div>
    <div>
        <h1>Lista de Produtos</h1>
        <ul>
            {% for p in produtos %}
                <li>{{ p.id }} - {{ p.nome }} - {{ p.valor }} - {{ p.data }}</li>
            {% endfor %}
        </ul>
    </div>
    </main>

    <footer>

    </footer>
    <script src="script.js"></script>
</body>
</html>